/* carte full page  */

.leaflet-container {
  height: 100vh;
  width: 100%;
}

/* Alerte erreur de requête API */

.modal-warning {
  display: block;
  font-size: 1.5rem;
  top: 150px;
}

/* styles du marqueur de station  */

.icon-station polygon {
  stroke: #1049A9;
  fill: transparent;
  transition: fill .3s ease-in-out;
}

.icon-station rect {
  transform: translateY(20%);
    fill: #6492D4;
    transition: transform .3s ease-in-out;
}

/* Styles par defaut */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
