/* carte full page  */

.leaflet-container {
  height: 90vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 90);
  width: 100%;
}

/* Alerte erreur de requête API */

.modal-warning {
  display: block;
  font-size: 1.5rem;
  top: 150px;
}

/* Styles par defaut */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
