
.card-text li {
  display:block;
  padding:5px;
  border-bottom: solid 1px rgb(185, 183, 183);
}
.card-text ul li:hover {
background-color: beige;
}
.card-text ul li span img{
  max-width: 25px;
}
.statInfo{
  text-align: center;
}
.card-text ul li div span{
  padding: 0 8px;
}