.search-panel, .filter-panel, .favs-panel {
  position: absolute;
  left: 0px;
  z-index: 1500;
  background-color: white;
  width:80vw;
  padding: 0rem;
  font-size: 0.9rem;
  border-bottom-right-radius: 10px;
  border: 2px solid rgb(68, 68, 248);

}

.navigation-input input{
  height: 0.5rem;
}

.filter-panel h3 {
  font-size: 1rem;
  color: rgb(68, 68, 248);
  background-color: rgb(161, 191, 255, 0.5);
  padding: 0.4rem;
  margin: 0;
  border-bottom: 2px solid rgb(68, 68, 248);
}

.filter-panel .filters-container {
  padding: 0.5rem;
}

.filter-panel p {
  margin: 0;
}

.filter-panel button {
  border-radius: 5px;
  box-shadow: 0 0;
  min-width: 30px;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .mobile-search-panel, .mobile-filter-panel, .favs-panel {
    display: none;
  }
};