.container {
  padding: 0;
}

.card-body {
  padding: 0;
}

.infoRow {
  margin: 1rem 0rem;
}

.stationStatus {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

.popupImg {
  max-width: 50%;

}

.refreshText p {
  margin: 0;
}

.counterSize {
  font-size: 1.6rem;
}