
.stations-to-display {
  word-break: break-word;
}

.stations-to-display input {
  margin-top: 0.3rem;
  margin-right: 1rem;
}

.stations-to-display label {
  display: inline; 
}

.filter-input button {
  padding: 0.5rem;
}

.filter-input span {
  margin: 1rem;
}

@media screen and (max-width: 768px) {
  #SideMenu
  {
    display: none;
  }
};